<html>
    <head>
        <title>New Brand</title>
    </head>
    <body>
        <h1>{{ new_brand.getName }}</h1>

<!-- Ask which stores carry it. -->

    <form action='/addStoreBrands' method='post'>

        {% if stores is not empty %}
            <p>Which stores carry this?</p>
            {% for store in stores %}
            <input type="checkbox" name="{{ store.getId }}" value={{ store.getId }}> {{ store.getName }}<br>
            {% endfor %}
            {% elseif %}
            <h4>{{ No stores, yo. }}</h4>
        {% endif %}


          <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
          <input type="submit" value="Submit">
        </form>


        <!-- <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">
        <label for='description'>Task Description</label>
        <input id='description' name='description' type='text'>
        <button type='submit'>Add task</button> -->
    </form>

        <p><a href='/'>Home</a></p>








    </body>
</html>
